body {
      background-color: black;
      text-align: center;
      font-family: Verdana;
}

#header > h1 {
      font-weight: normal;
      font-size: 50px;
      color: white;
}

.download-excursion {
      color: aquamarine;
      font-size: 16px;
}

.landscape-picture > h1 {
      color: white;
      font-weight: 300;
      font-size: 42px;
}

.landscape-picture > p {
      color: gray;
      font-size: 21px;
}

.landscape-picture > figure > img {
      opacity: 90%;
}

#footer > h1 {
      color: white;
      font-size: 50px;
      font-weight: normal;
}

#footer > figure > img {
      width: 10em;
      margin: 0;
}

#footer > footer > h3 {
      color: gray;
      text-align: right;
      font-weight: normal;
}